@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.w-1070{
    width: 1070px;
    margin: 0 auto;
}
/*-------------------------------------header---------------------------------------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    font-family: "DM Sans", serif;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header nav a{
    color: #19191B;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.469px;
}
.header__active-link{
    color: #19191B;
    border-bottom: 2px solid #5454D4;
}