*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}
header{
    width: 100%;
    height: 113px;
    background: #24204A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: fixed;
    top: 0;
}
.header__w-1153{
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__w-1153 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 63px;
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
}
header h2{
    color: #E5E5E5;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;
}
.one-posotion{
    height: 692px;
    background: #24204A;
    padding: 180px 0 101px 0;
    box-sizing: border-box;
}
.one-posotion__w-1153{
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one-posotion__w-1153 .one-posotion{
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background: #4B4864;
    color: #8E88C1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    border: none;
}
.one-posotion__w-1153 h1{
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    width: 261px;
}
.one-posotion__w-1153 p {
    color: #8E88C1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    width: 570px;
    margin-top:32px;
}
.one-position{
    width: 145px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #4B4864;
    color: #8E88C1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    margin-bottom: 32px;
}
.button-about{
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #3F50E7;
    margin-top: 32px;

    /* 1 */
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.20);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
img{
    width: 318px;
    height: 318px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
    padding: 48px  28px 45px 29px;
}
.lorem{
    width: 100%;
    height: 764px;
    background: #071341;
    padding: 50px 0 152px 0;
    box-sizing: border-box;
}
.lorem__weather{
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 18px;
}
.icon svg{
    width: 32.082px;
    height: 32px;
    flex-shrink: 0;
    padding: 12px 12.03px;
}
.icon1{
    background: #FF6853;
    width: 56.144px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
}
.icon2{
    background: #FF537C;
    width: 56.144px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
}
.icon3{
    background: #80D2C4;
    width: 56.144px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
}
.icon4{
    background: #3F50E7;
    width: 56.144px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
}
.icon5{
    background: #95CB7C;
    width: 56.144px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
}
.icon h4{
    width: 38.098px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.icon p{
    width: 101.26px;
    color: #8E88C1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}
.lorem__weather h2{
    width: 1074px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 116.667% */
    margin: 50px 0;
}
.lorem-ipsum{
    color: #8E88C1;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
    margin-bottom: 50px;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.card {
    width: 209px;
    height: 206px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #8E88C1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-right: 32px;
}
.card svg{
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    padding: 44px 78px 26px 78px;
}
.card p{
    width: 178px;
    color: #8E88C1;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}
iframe{
    width: 100%;
    height: 664px;
    background: lightgray 50% / cover no-repeat;
}
footer{
    width: 100%;
    height: 94px;
    flex-shrink: 0;
    background: #071341;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    width: 96px;
    height: 24.039px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 24px */
}